name: Post
on:
  schedule:
    - cron: "33 * * * *"
  workflow_dispatch:

jobs:
  post:
    name: "Post"
    runs-on: "ubuntu-latest"
    steps:
      # Clone and install the Python project
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: uv sync

      # Clone and install the typescript scripts
      - uses: actions/checkout@v4
        with:
          repository: "tmr232/function-graph-overview"
          ref: "bc395101f52087c0235d210ad3dd0806fd1f9a4e"
          path: "function-graph-overview"

      # Fetch the Ghidra export indices
      - uses: actions/checkout@v4
        with:
          repository: "v-p-b/ghidra-function-graph-datasets"
          ref: "main"
          path: "ghidra-indices"

      - uses: oven-sh/setup-bun@v2
        with:
          # Specific version is needed because of breaking changes in Bun 1.1.45
          # See https://github.com/tmr232/function-graph-overview/issues/76 for details.
          bun-version: "1.1.44"
      - run: |
          cd function-graph-overview
          bun install

      # Render and post
      - run: uv run cfgbot
        timeout-minutes: 5
        env:
          FUNCTION_RENDER_SCRIPT: "function-graph-overview/scripts/render-function.ts"
          GRAPH_RENDER_SCRIPT: "function-graph-overview/scripts/render-graph.ts"
          BLUESKY_IDENTIFIER: ${{ secrets.BLUESKY_IDENTIFIER }}
          BLUESKY_PASSWORD: ${{ secrets.BLUESKY_PASSWORD }}
          MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          MASTODON_API_BASE_URL: ${{ secrets.MASTODON_API_BASE_URL }}
          GHIDRA_EXPORT_ROOT: "ghidra-indices"
          GHIDRA_RAW_URL_BASE: "https://raw.githubusercontent.com/v-p-b/ghidra-function-graph-datasets/refs/heads/main/"

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Graph.DOT
          path: graph.dot
